{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='conference.css') }}">
{% endblock %}

{% block app_content %}

<div class="media">
    <img class="mr-3" width="96px" height="96px" src="{{ conference.logo }}">
    <div class="media-body">
        <h2 class="mt-0">{{ conference.name }} ({{ conference.nickname }})</h2>
        {% if conference.hq %}<p>Headquartered in {{ conference.hq }}</p>{% endif %}
        {% if conference.about %}<p>{{ conference.about }}</p>{% endif %}
        {% if current_user.admin %}
            <p><a href="{{ url_for('ncaa.edit_conference', id=conference.id) }}">Edit Conference Data</a></p>
        {% endif %}
    </div>
</div>

<h2>Conference Member Teams</h2>
<div class="team-list">
    {% for team in conference.teams.order_by(Team.school).all() %}
        <a href="{{ url_for('ncaa.team', id=team.id) }}" class="team-list-item">
            <img class="logo-large" src="{{ team.logo }}" alt="{{ team.school }}"/>
            <div class="team-name">{{ team.school }}</div>
        </a>
    {% endfor %}
</div>


{% endblock %}
