{% extends 'base.html' %}

{% block app_content %}
    <ul class="list-group">
    {% for conference in Conference.query.order_by(Conference.name).all() %}
        <li class="list-group-item">
            <img width="28px" src="{{ conference.logo }}">&nbsp;
            <a href="{{ url_for('ncaa.conference', id=conference.id) }}">
                {{ conference.name }}
            </a>
        </li>
    {% endfor %}
    </ul>

    {% if current_user.admin %}
        <a href="{{ url_for('ncaa.add_conference') }}">Add Conference</a>
    {% endif %}
{% endblock %}
