{% extends "base.html" %}

{% block app_content %}
<table class="table table-hover">
    <tr>
        <td width="256px"><img width="256px" height="256px" src="{{ conference.logo }}"></td>
        <td>
            <h1>{{ conference.name }} ({{ conference.nickname }})</h1>
            {% if conference.hq %}<p>Headquartered in {{ conference.hq }}</p>{% endif %}
            {% if conference.about %}<p>{{ conference.about }}</p>{% endif %}
            {% if current_user.admin %}
            <p><a href="{{ url_for('ncaa.edit_conference', id=conference.id) }}">Edit Conference Data</a></p>
            {% endif %}
        </td>
    </tr>
</table>

<table class="table table_hover">
{% for team in conference.teams.all() %}
    <tr>
        <td width="24px"><img width="24px" src="{{ team.logo }}"></td>
        <td>
            <a href="{{ url_for('ncaa.team', id=team.id) }}">
                {{ team.abbr }}
            </a>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
