{% extends 'base.html' %}
{% import 'bootstrap/form.html' as wtf %}

{% set conference = team.conference %}

{% block app_content %}

<div class="media">
    <img class="mr-3" width="128px" height="128px" src="{{ team.logo }}">
    <div class="media-body">
        <h2 class="mt-0">{{ team.school }} {{ team.mascot }} ({{ team.abbr }})</h2>
        <p>Member of <a href="{{ url_for('ncaa.conference', id=conference.id) }}">{{ conference.name }}</a></p>
        {% if team.about %}<p>{{ team.about }}</p>{% endif %}
        {% if current_user.is_authenticated %}
            {% if team in current_user.teams %}
                <p><a href="{{ url_for('ncaa.unfollow_team', id=team.id) }}">Unfollow {{ team.abbr }}</a></p>
            {% else %}
                <p><a href="{{ url_for('ncaa.follow_team', id=team.id) }}">Follow {{ team.abbr }}</a></p>
            {% endif %}
        {% endif %}
        {% if current_user.admin %}
            <p><a href="{{ url_for('ncaa.edit_team', id=team.id) }}">Edit Team Data</a></p>
        {% endif %}
    </div>
</div>

<div class="container">
<h4>{{ team.abbr }} Fans</h4>
<ul class="list-unstyled" style="column-width: 200px; column-count: auto;">
    {% for user in team.fans.order_by(User.username).all() %}
        <li>
            <img width="16px" src="{{ user.avatar(16) }}">
            <a href="{{ url_for('main.user', username=user.username) }}">{{ user.username }}</a>
        </li>
    {% endfor %}
</ul>
</div>

{% if form and current_user.is_authenticated %}
{{ wtf.render_form(form) }}
<br>
{% endif %}
{% for post in team.posts.order_by(Post.timestamp.desc()).all() %}
    {% include '_post.html' %}
{% endfor %}
{% endblock %}
