{% extends 'base.html' %}
{% import 'bootstrap/form.html' as wtf %}

{% set conference = team.conference %}

{% block app_content %}

<div class="media">
    <img class="mr-3" width="128px" height="128px" src="{{ team.logo }}">
    <div class="media-body">
        <h2 class="mt-0">{{ team.school }} {{ team.mascot }} ({{ team.abbr }})</h2>
        <p>Member of <a href="{{ url_for('ncaa.conference', id=conference.id) }}">{{ conference.name }}</a></p>
        {% if team.about %}<p>{{ team.about }}</p>{% endif %}
        {% if current_user.admin %}
            <p><a href="{{ url_for('ncaa.edit_team', id=team.id) }}">Edit Team Data</a></p>
        {% endif %}
    </div>
</div>

{% if form and current_user.is_authenticated %}
{{ wtf.render_form(form) }}
<br>
{% endif %}
{% for post in team.posts.all() %}
    {% include '_post.html' %}
{% endfor %}
{% endblock %}
