<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=comment.author.username) }}">
                <img src="{{ comment.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.user', username=comment.author.username) }}">
                {{ comment.author.username }}
            </a>
            said {{ moment(comment.timestamp).fromNow() }}
            {% if request.path != url_for('ncaa.team', id=comment.team.id) %}
                on <a href="{{ url_for('ncaa.team', id=comment.team.id) }}">{{ comment.team.abbr }}</a>
            {% endif %}
            {% if comment.user_id == current_user.id or current_user.admin %}
                <small>(<a href="{{ url_for('main.delete_comment', id=comment.id, pageref=request.path) }}"  style="color:red;">delete</a>)</small>
            {% endif %}
            <br>
            <span id="comment{{ comment.id }}">{{ comment.body }}</span>
        </td>
    </tr>
</table>
