{% extends "base.html" %}

{% block app_content %}
<div class="media">
    <img class="mr-3" width="192px" height="192px" src="{{ user.avatar(192) }}">
    <div class="media-body">
        <h2 class="mt-0">{{ user.username }}</h2>
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following</p>
        {% if user == current_user %}
        <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
        {% elif not current_user.is_following(user) %}
        <p>
            <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Follow', class_='btn btn-default') }}
            </form>
        </p>
        {% else %}
        <p>
            <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Unfollow', class_='btn btn-default') }}
            </form>
        </p>
        {% endif %}
    </div>
</div>

{% endblock %}
